@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Inter:wght@200&family=Overpass&display=swap');

:root{
    font-size: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif; 
    background-color: hsl(216, 12%, 8%);
    
}



.card{
    width: 27rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    background: rgb(31,38,48);
    background: linear-gradient(180deg, rgba(31,38,48,1) 67%, rgba(23,30,40,1) 86%);
    border-radius: 10px;
    padding: 0rem 2rem;
    margin: 2rem;
}

#final-card{
    display: none;
}

.image-container,
.option-container{
    width: 3rem;
    height: 3rem;
    background-color: hsla(217, 12%, 63%, 0.164);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .3rem;
    margin: 2rem 0rem 1rem 0rem;
}

.card h1{
    font-size: 1.5rem;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    margin: .5rem 0rem;
}

.card p{
    font-size: 1rem;
    font-weight: 200;
    color: hsl(216, 12%, 54%);
    margin-top: 1rem;
}

.card .rating{
    display: flex;
    justify-content: space-between;
}

.card .rating input{
    display: none;
}

.card .rating label{
    height: 2rem;
    margin-bottom: 4.5rem;
}


.card .rating label span{
    font-size: 1rem;
    font-weight: 200;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    margin-bottom: 10rem;
}

.card .submit-bt{
    width: 100%;
    height: 3rem;
    background-color: hsl(25, 97%, 53%);
    border-radius: 20px;
    border: none;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0rem;
    cursor: pointer;
}